* {
  box-sizing: border-box;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 30px;
}
p {
  padding: 20px;
  text-align: left;
  line-height: 1.5em;
}
body {
  background-image: url(img/space-invader.jpg);
  background-position: right;
  color: white;
  font-family: sans-serif;
}
.portada {
  background-image: url(img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 510px;
  text-align: center;
}
.portada h2 {
  margin: 0;
}
.logo {
  max-width: 500px;
}
nav img {
  width: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.inicio,
.skyrim,
.shadowOfWar,
.theWitcher {
  width: 80%;
  text-align: center;
  background-color: black;
}
.inicio img,
.skyrim img,
.shadowOfWar img,
.theWitcher img {
  width: 100%;
  padding: 0 20px;
}
.inicio h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 32px;
}
footer {
  background-color: #999;
  text-align: center;
  background-image: url(img/footer.png);
}
footer img {
  width: 200px;
  padding: 20px;
}
.copyright {
  text-align: center;
  font-size: 13px;
  background-color: #0f0;
  padding: 5px;
  color: #000;
}
